.shoplook{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 80vh;
}
.shoplook h1 {
    color: #171717;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
}
.shoplook hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}
.shoplook-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
@media(max-width:1280px){
    .shoplook{
        height: 80vh;
    }
    .shoplook h1{
        font-size: 40px;
    }
    .shoplook hr{
        width: 200px;
        height: 6px;
    }
    .shoplook-item{
        gap:20px;
        margin-top: 30px;
    }
}
@media(max-width:1024px){
    .shoplook{
        height: 60vh;
    }
    .shoplook h1{
        font-size: 30px;
    }
    .shoplook hr{
        width: 120px;
        height: 3px;
    }
    .shoplook-item{
        gap:15px;
        margin-top: 20px;
    }
}
@media(max-width:800px){
    .shoplook{
        height: 50vh;
        gap:6px;
    }
    .shoplook h1{
        font-size: 20px;
    }
    .shoplook hr{
        width: 100px;
    }
    .shoplook-item{
        gap:5px;
    }
}    
@media(max-width:500px){
    .shoplook{
        height: 110vh;
    }
    .shoplook-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}