.crazydeals{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}
.crazydeals h1{
    padding-right: 40px;
    color: #171717;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
}
.crazydeals hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}
.crazydeals-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    gap: 15px;
    width: 310px;
    height: 60px;
    border-radius: 75px;
    margin-top: 50px;
    background: red;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

@media(max-width:1280px)
{
    .crazydeals-left{
        margin-bottom: 20px;
    }
     .crazydeals h1{
        font-size:40px;
    }
    .crazydeals hr{
        width: 160px;
        height: 4px;
    }
    .crazydeals-latest-btn{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 10px;
        font-size: 18px;
        margin-left: 20px;
    }
}
@media(max-width:1024px)
{
    .crazydeals{
        height: 75vh;
    }
     .crazydeals h1{
        font-size: 24px;
    }
    .crazydeals hr{
        width: 120px;
        height: 3px;
    }
    .crazydeals-latest-btn{
        width: 220px;
        height: 50px;
        font-size: 16px;
        margin-left: 300px;
    }

}
@media(max-width:800px)
{    
     .crazydeals{
        height: 60vh;
    }
    .crazydeals h1{
        font-size: 20px;
    }
    .crazydeals hr{
        width: 100px;
    }
    .crazydeals-latest-btn{
        width: 175px;
        height: 40px;
        font-size: 13px;
        margin-left: 120px;
    }
}
@media(max-width:500px)
{
     .crazydeals{
       height: 45vh;
       flex-direction: column;
    }
    .crazydeals h1{
        font-size: 18px;
    }
    .crazydeals-latest-btn{
        width: 150px;
        height: 45px;
        font-size: 14px;
        margin-left: 100px;
    } 
} 
